@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.min_height_22r {
    min-height: 22rem
}

.min_height_6r {
    min-height: 6rem
}

.fondo_briceno {
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(to top, #41b6e6 0%, #00205b 100%);
}

.fondo_briceno_0 {
    background: linear-gradient(to top, #41b6e6 0%, #00205b 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondo_color {
    background-color: #41b6e6;
}
